* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @media screen and (min-width: 768px) {
    cursor: none;
  }
  font-family: "Lato", sans-serif;
}

main {
  background: linear-gradient(to right, #3498db 0%, #2ecc71 100%);
  min-height: 100svh;

  // Hero container styles
  .hero {
    background: white;
    color: #444;
    text-align: center;
    padding: 100px 20px;
    height: 70svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    h1 {
      font-size: 3rem;
      background: linear-gradient(to right, #3498db 0%, #2ecc71 100%);
      color: #000000;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .profile__container {
      width: 600px;
      max-width: 90vw;
      display: grid;
      grid-template-columns: 250px auto;
      @media (max-width: 768px) {
        grid-template-columns: 150px auto;
      }

      .profileHolder {
        place-self: center;
        width: 250px;
        height: 250px;
        @media (max-width: 768px) {
          width: 150px;
          height: 150px;
        }
        border: 4px solid #f5a623;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .profileDetails {
        display: grid;
        place-content: center;
        span {
          font-size: 1.5rem;
          font-weight: 600;
          color: #f5a623;
        }
      }
    }
  }

  .Links {
    padding: 100px 20px;
    display: flex;
    justify-content: space-around; // center the flex items horizontally
    gap: 24px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    a,
    a:visited {
      cursor: none;
      text-decoration: none;
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  .content {
    position: relative;
    padding: 100px 20px;
    background: rgba(255, 255, 255, 0.7);
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 2px solid #fff;
    border-right: none;
    border-left: none;
    @media screen and (max-width: 768px) {
      padding: 50px 20px;
    }
    h2 {
      font-size: 2.6rem;
      background: linear-gradient(to right, #3498db 0%, #2ecc71 100%);
      color: #000000;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .content__container {
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 800px;
    }
    .image__left,
    .image__right {
      position: relative;
      display: grid;
      grid-template-columns: 300px auto;
      gap: 12px;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      align-items: center;
      img {
        border: 4px solid #f5a623;
      }
    }
    .image__right {
      @media screen and (min-width: 768px) {
        grid-template-columns: auto 300px;
      }
    }
  }

  .cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f5a623;
    border: 3px solid #f5a623;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    animation: cursorAnimation 2s infinite;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

p {
  margin: 18px 0px;
}

/* cursor animation */
@keyframes cursorAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}