
#designBoard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 2;
}

#addBox{
    margin: 0.5vw 1vh;
    background: transparent;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    cursor: pointer;
    transition: 0.3s ease-in-out background;
    &:hover {
        background: var(--text-color);
        color: var(--background);
    }
}