.tools_Box {
  background: var(--box-background);
  color: var(--box-text-color);
  user-select: "none";
  box-shadow: 0px 0px 6px var(--box-background);
  border: 2px solid transparent;
}

.closeButton {
    user-select: none;
    position: absolute;
    top: -4px;
    right: -4px;
    width: max(12px, 0.5vw);
    height: max(12px, 0.5vw);
    border-radius: 50%;
    background: rgba(223, 21, 21, 0.5);
    cursor: pointer;
    transition: 0.3s ease-in-out background;
    &:hover {
        background: rgb(223, 21, 21);
    }
  }