@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", monospace;
  letter-spacing: 0.05rem;
  color: rgba(218, 218, 218, 0.8);
}

h1,
h2,
h3 {
  margin: 3vh 0vw;
  font-weight: 800;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.2rem;
}
h3 {
  margin: 1vh 0vw;
}

main {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(38, 38, 48);
  position: relative;
  overflow: auto;
}

#background_canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;
}

#pi {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: rgb(38, 38, 48);
  opacity: 0.2;
  cursor: pointer;
  user-select: none;
}

#fogger {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.692),
    rgba(255, 255, 255, 0.308),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
}

#main_head {
  z-index: 4;
  position: relative;
  top: 10%;
  text-align: center;
  width: 100%;
  h1 {
    font-size: 3rem;
    margin: 3vh 0vw;
  }
  .linkHolder {
    font-size: 2.5rem;
    width: 50%;
    position: relative;
    left: 25%;
    margin-top: 2vh;
    margin-bottom: 5vh;
    text-align: center;
    a *:hover {
      transform: scale(110%);
      transition: transform 0.4s ease-in-out;
    }
  }
}

.resume_container {
  text-align: left;
  margin-top: 1vh;
  padding: 20px;
  width: 100vw;

  .project_name {
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
  }
  p {
    margin: 10px;
    animation: faded 3s forwards;
  }
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media screen and (min-width: 1000px) {
  h1,
  h2 {
    text-align: center;
  }
  .resume_container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: content-box;
    width: 80%;
    left: 10%;
  }
}

@keyframes faded {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  25% {
    opacity: 0.8;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
