@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", monospace;
  letter-spacing: 0.05rem;
  touch-action: none;
}

h1,
h2,
h3 {
  margin: 3vh 0vw;
  font-weight: 800;
  letter-spacing: 0.2rem;
}
h3 {
  margin: 1vh 0vw;
}

main {
  width: 100vw;
  min-height: 100vh;
  background-color: #181718;
  position: relative;
  overflow: auto;
}

#background_canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.2;

}

#pi {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: max(12px, 2rem);
  height: max(12px, 2rem);
  color: rgba(62, 62, 164, 0.613);
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
  z-index: 3;
  display: grid;
  place-content: center;
  transition: background 0.3s ease-in-out;
}

#pi:hover {
  color: rgba(62, 62, 164, 1);
  background: rgba(255, 255, 255, 0.5);
}


.description {
  position: fixed;
  top: 2vh;
  right: 2vh;
  display: grid;
  z-index: 1;
  color: rgb(98, 89, 163);
  user-select: none;
}

.blogContent {
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  width: 50vw;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  @media (max-width: 600px) {
    width: 90vw;
  }
  @media (max-width: 800px) {
    width: 80vw;
  }
  @media (max-width: 1000px) {
    width: 60vw;
  }
}

.piContent {
  display: grid;
  position: absolute;
  bottom: 1vh;
  left: 2vw;
  color: rgb(98, 89, 163);
  opacity: 0;
  animation: fadein 2s ease-in-out forwards;

}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}